<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 给当前的xml的文件命名，区分sql块，以后会出现多个sql块 -->
<mapper namespace="com.hotelsystem.dao.IManagerRecordDao">
<insert id="addupManagerRecord" parameterType="ManagerRecordBean" keyProperty="mrId" useGeneratedKeys="true">
INSERT INTO manager_record(mr_ontime,u_mr_id)VALUES(#{mrOnTime},#{mlb.userId})
</insert>
<update id="addOffManagerRecord" parameterType="ManagerRecordBean">
UPDATE manager_record SET mr_offtime=#{mrOffTime} where mr_id=#{mrId};
</update>
<select id="findIdbyManagerRecord" resultMap="recordMap">
SELECT * FROM manager_record WHERE mr_id=#{id};
</select>
<resultMap type="ManagerRecordBean" id="recordMap">
		<id column="mr_id" property="mrId" />
		<result column="mr_ontime" property="mrOnTime"/>
		<result column="mr_offtime" property="mrOffTime"/>
</resultMap>
<!-- 通过日期查询管理员工作日志 -->
<select id="findManagerRecordByDate"  resultMap="timeMap">
SELECT *FROM vi_managerlogin WHERE u_id!=1 and mr_ontime between #{date} and #{date2}
</select>
<resultMap type="ViManagerLoginBean" id="timeMap">
	<id column="u_id" property="vmId"></id>
	<result column="u_name" property="vmName"/>
	<result column="mr_ontime" property="vmOnTime" />
	<result column="mr_offtime" property="vmOffTime"/>
	<result column="mr_status" property="vmStatus"/>
</resultMap>
<!-- 查询全部工作日志 -->
<select id="findManagerRecord"  resultMap="timeMap2">
SELECT *FROM vi_managerlogin where u_name!='admin'
</select>
<resultMap type="ViManagerLoginBean" id="timeMap2">
	<id column="u_id" property="vmId"></id>
	<result column="u_name" property="vmName"/>
	<result column="mr_ontime" property="vmOnTime" />
	<result column="mr_offtime" property="vmOffTime"/>
	<result column="mr_status" property="vmStatus"/>
</resultMap>
</mapper>