<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 给当前的xml的文件命名，区分sql块，以后会出现多个sql块 -->
<mapper namespace="com.hotelsystem.dao.IMenmbersDao">
	<insert id="addMenmbers" parameterType="MenmbersBean">
		INSERT INTO
		menmbers(m_id,m_name,m_c_id)VALUES(#{mId},#{mName},#{lb.classId})
	</insert>
	<update id="updateConsume">
		UPDATE menmbers SET m_consume=m_consume+#{bean} WHERE m_id=#{id}
	</update>
	<update id="delMenmbers" parameterType="int">
		UPDATE menmbers SET flag=1 WHERE m_id=#{id}
	</update>
	<select id="checkAllMenmbers" resultMap="menmberMap">
		SELECT * FROM menmbers m JOIN level_discount ld ON m.m_c_id=ld.c_id where
		m.flag=0
	</select>
	
	
	<select id="findMenmbersByName" parameterType="string" resultMap="menmberMap">
		SELECT * FROM menmbers as m JOIN level_discount as ld ON m.m_c_id=ld.c_id 
		where m.m_name like concat(concat('%',#{name}),'%') and m.flag=0;
	</select>
	
	<resultMap type="MenmbersBean" id="menmberMap">
		<id column="m_id" property="mId" />
		<result column="m_name" property="mName" />
		<result column="m_consume" property="mConsume" />
		<association property="lb" javaType="LevelDiscountBean"
			resultMap="lbmap" />
	</resultMap>
	<resultMap type="LevelDiscountBean" id="lbmap">
		<id column="c_id" property="classId" />
		<result column="c_name" property="className" />
		<result column="c_discount" property="classDiscount" />
	</resultMap>
	<select id="checkIdByMenmbers" resultMap="menmberMap2">
		SELECT * FROM menmbers m JOIN level_discount ld ON m.m_c_id=ld.c_id where
		m_id=#{id} and m.flag=0;
	</select>
	<resultMap type="MenmbersBean" id="menmberMap2">
		<id column="m_id" property="mId" />
		<result column="m_name" property="mName" />
		<result column="m_consume" property="mConsume" />
		<association property="lb" javaType="LevelDiscountBean"
			resultMap="lbmap2" />
	</resultMap>
	<resultMap type="LevelDiscountBean" id="lbmap2">
		<id column="c_id" property="classId" />
		<result column="c_name" property="className" />
		<result column="c_discount" property="classDiscount" />
	</resultMap>
</mapper>